<div class="purple">
    <h1>Max Frisch <br> Fragebogen</h1>
    <div class="login">
        <form action="/" method="POST">
            <input type="text" id="username" name="username" placeholder="username">
            <input type="password" id="password" name="password" placeholder="password">
            <button>Log in</button>
    </div>
</div>
<div class="blue">
    <ol>
        <li>
            Sind Sie sicher, <br>
            daß Sie die Erhaltung des Menschengeschlechts, wenn Sie und Ihre Bekannten nicht mehr sind, wirklich
            interessiert?
        </li>
        <li>
            Warum? Stichworte genügen.
        </li>
        <li>
            Wie viele Kinder von Ihnen sind nicht zur Welt gekommen durch Ihren Willen?
        </li>
        <li>
            Wem wären Sie lieber nie begegnet?
        </li>
    </ol>
</div>