<div class="header">
    <div class="version">
        <p>Mein Fragebogen 1</p>
        <p>Mein Fragebogen 2</p>
        <p>Mein Fragebogen 3</p>
        <button>+</button>
    </div>

    <div class="title">
        <h1>Fragebogen 1: <br> Die Erhaltung des Menschengeschlechts</h1>
        <button>></button>
    </div>

    <div class="logout">
        <button>Logout</button>
    </div>
</div>

<div class="main">
    {{#questionsArr}}
    <p>{{title}}<br>{{text}}</p>
    <div class="answer">
        <input type="text">
        <button>save</button>
    </div>
    {{/questionsArr}}
</div>