<div class="header">
    <div class="version">
        <p>Mein Fragebogen 1</p>
        <p>Mein Fragebogen 2</p>
        <p>Mein Fragebogen 3</p>
        <button>+</button>
    </div>

    <div class="title">
        <h1>Fragebogen 1: <br> Die Erhaltung des Menschengeschlechts</h1>
        <button>></button>
    </div>

    <div class="logout">
        <button>Logout</button>
    </div>
</div>

<div class="main">
    <p>
        1. <br>Sind Sie sicher, dass Sie die Erhaltung des Menschengeschlechts, wenn Sie und alle Ihre Bekannnten nicht
        mehr sind, wirklich interessiert?
    </p>
    <p>
        2. <br>Warum? Stichworte gen체gen.
    </p>
    <p>
        3. <br>Wieviele Kinder von Ihnen sind nicht zur Welt gekommen durch Ihren Willen?
    </p>
    <p>
        4. <br>Wem w채ren Sie lieber nie begegnet?
    </p>
    <p>
        5. <br>Wissen Sie sich einer Person gegen체ber, die nicht davon zu wissen braucht, Ihrerseits im Unrecht und
        hassen Sie eher sich selbst oder die Person daf체r?
    </p>

</div>