* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

/* log in */
.purple,
.blue {
    width: 100%;
}

.purple {
    background: #362a52;
    height: 40vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.purple h1 {
    display: inline-block;
    color: white;
    font-size: 10vh;
    font-weight: 200;
    margin-left: 10px;
}

.login {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login form {
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
}

.blue {
    background: #2883c6;
    height: 60vh;
    overflow: hidden;
}

.blue li {
    margin: 05px 30px 0 15px;
    color: #271e3b;
    font-size: 3.5vh;
    line-height: 1.4em;
}

@media (min-width: 600px) {
    .purple {
        justify-content: space-between;
        flex-direction: row;
    }
    .login {
        align-items: flex-start;
        margin: 40px 100px 0 0;
    }
    .purple h1 {
        font-size: 12vh;
    }
    .blue li {
        font-size: 4vh;
    }
}

/* main */
.header {
    display: flex;
    justify-content: space-between;
}

.main {
    width: 50%;
    min-width: 300px;
    margin: 0 auto;
}

.main p {
    margin-top: 30px;
}

.main .answer {
    display: none;
}

.main .highlight {
    display: inline-block;
}
