* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

/* log in */
.purple,
.blue {
    width: 100%;
}

.purple {
    background: #362a52;
    height: 40vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.purple h1 {
    display: inline-block;
    color: white;
    font-size: 10vh;
    font-weight: 200;
    margin-left: 10px;
}

.login {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login form {
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
}

.blue {
    background: #2883c6;
    height: 60vh;
    overflow: hidden;
}

.blue li {
    margin: 05px 30px 0 15px;
    color: #271e3b;
    font-size: 3.5vh;
    line-height: 1.4em;
}

@media (min-width: 600px) {
    .purple {
        justify-content: space-between;
        flex-direction: row;
    }
    .login {
        align-items: flex-start;
        margin: 40px 100px 0 0;
    }
    .purple h1 {
        font-size: 12vh;
    }
    .blue li {
        font-size: 4vh;
    }
}

/* main */
.mainContainer {
    display: grid;
    grid-template-columns: 180px 1fr 100px;
}
.header {
    display: flex;
    justify-content: space-between;
    grid-column: 3 / span 1;
}

.select {
    display: flex;
    flex-direction: column;
    width: 120px;
    margin-left: 30px;
}

.select a {
    margin-bottom: 15px;
    text-decoration: none;
    color: black;
}

.logout {
    margin-right: 30px;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    min-width: 300px;
    margin: 0 auto;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.questions {
    width: 70%;
}

.main p {
    margin-top: 30px;
}

.main .answer {
    display: none;
    width: 100%;
}

.answer-save {
    display: none;
}
.main .highlight {
    display: inline-block;
}

.main textarea {
    color: #2883c6;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    outline: none;
    border: none;
    margin-top: 10px;
    width: 100%;
    max-height: 600px;
    resize: none;
}

.main textarea::placeholder {
    color: #d3e9f8;
}
